.dashboard {
  display: flex;
  margin: 0 10px;
  padding: 15px;
  background-color: rgb(25, 124, 108);
  width: auto;
  min-height: 35vh;
  max-height: 55vh;
  border-radius: 15px;
  color: aliceblue;
  flex-wrap: wrap;
}
h2 {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin: 0;
  flex: 0 0 100%;
  height: 40px;
}
.figures {
  width: 100%;
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.figures__stat {
  flex: 0 0 26%;
  position: relative;
  /* height: 100%; */
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(210, 215, 220);
}
.figures__stat__pieChart {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.figures__total {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  flex: 0 0 100%;
  position: relative;
  height: 100px;
}
.figures__total span{
    font-size: 1rem;
}
strong {
    color: #C3AA4E;
}
.figures__total__chart {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  object-fit: center;
}

.figures__stat__pieChart img,
.figures__total__chart img {
  /* max-width: 100%; */
}
.figures__stat i {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(210, 215, 220);
}
.figures__stat {
}
